.Detail {
    padding: 5px;

    .row {
        margin: 0px;
        padding: 5px;

        .col-12, .col-md-8, .col-md-8 {
            padding: 0px;
        }
    }

    .store_info {
        .store_name {
            font-size: 20px;
            font-weight: bolder;
        }
    }
}
