.Home {
  padding: 5px;
  overflow: hidden;
  padding-top: 0px;
  font-family: "NanumSquareRound";

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  .title {
    margin-top: 20px;
    font-size: 20px;
    font-family: "BMHANNAPro";
    margin-bottom: 5px;
  }

  @media screen and (min-width: 768px) {
    .title {
      font-size: 25px;
    }
  }
}
