.Map {
    padding: 5px;

    .title {
        font-family: "BMHANNAPro";
        font-size: 20px;
        margin: 10px;
    }
    .map_content{
        padding: 10px;
    }

    @media screen and (min-width: 768px) {
        .title {
            font-size: 25px;
        }

        .map_content{
            padding: 0px;
        }
    }
}
