.MyPageMore {
  min-height: 75vh;
  font-family: "S-CoreDream-8Heavy";
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  .title {
    font-size: 1.4rem;
    margin: 10px 0 8px 5px;
    color: #353535;

    @media screen and (min-width: 768px) {
      margin: 12px 0 12px 5px;
      font-size: 1.7rem;
    }
  }

  .fcontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .fbox {
      border: 1px solid lightgrey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 32%;
      cursor: pointer;
      margin: 0 2px 5px 2px;
      transition: 0.1s;

      @media screen and (min-width: 768px) {
        width: 20%;
        margin: 0;
        padding: 7px;
      }

      &:hover:nth-child(odd) {
        border: 3px solid #f9bbc7;
        background-color: #f9bbc760;
      }

      &:hover:nth-child(even) {
        border: 3px solid #98d7db;
        background-color: #98d7db60;
      }

      .storeName {
        // 길어지면 ...으로 생략하기
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        padding: 0 6px 0 6px;

        @media screen and (min-width: 768px) {
          margin-top: 6px;
          font-size: 1.5rem;
        }
      }

      .storeArea {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-size: 1rem;
        padding: 0 6px 5px 6px;
        color: #5d5d5d;

        // 길어지면 ...으로 생략하기
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (min-width: 768px) {
          margin-top: 2px;
          font-size: 1.2rem;
        }
      }

      .imgBox {
        position: relative;
        width: 100%;
        padding-top: 100%;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .rcontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    .rbox {
      border: 1px solid lightgrey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      margin: 0 2px 6px 2px;
      transition: 0.1s;

      @media screen and (min-width: 768px) {
        width: 49%;
        margin-bottom: 1%;
        padding: 7px;
        border: 2px solid lightgrey;
      }

      &:hover:nth-child(odd) {
        border: 3px solid #f9bbc7;
        background-color: #f9bbc760;
      }

      &:hover:nth-child(even) {
        border: 3px solid #98d7db;
        background-color: #98d7db60;
      }

      .rtop {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;

        .storeName {
          // 길어지면 ...으로 생략하기
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          width: 35%;
          font-size: 1.2rem;
          padding-left: 10px;
          color: #47b5bd;

          @media screen and (min-width: 768px) {
            font-size: 1.4rem;
          }
        }

        .totalScore {
          // 길어지면 ...으로 생략하기
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          width: 15%;
          text-align: center;
          font-size: 1.2rem;
          color: #ff829b;

          @media screen and (min-width: 768px) {
            font-size: 1.4rem;
          }
        }

        .detailScore {
          width: 50%;
          text-align: center;
          font-size: 1.2rem;
          font-size: 1rem;
          color: #5d5d5d;

          // 길어지면 ...으로 생략하기
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media screen and (min-width: 768px) {
            font-size: 1.3rem;
          }
        }
      }

      .rbottom {
        width: 100%;
        padding: 3px 10px 3px 12px;
        color: #4c4c4c;

        // 길어지면 ...으로 생략하기
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (min-width: 768px) {
          font-size: 1.3rem;
          padding: 5px 10px 3px 12px;
        }
      }
    }
  }
}
