.Write {
    width: 100%;
    padding: 5px;
    font-family: "NanumSquareRound";

    .write_explain {
        // box-shadow: 0 0 0 1px rgb(180, 180, 180) inset;
        border: 1px solid #f9bbc75b inset;
        background: #f9bbc75b;
        padding: 10px;
        margin-bottom: 10px;
        .smile {
            font-size: 35px;
            margin-right: 15px;
        }
        .text {
            vertical-align: -3px;
        }
        * {
            display: inline-block;
        }
    }

    .write_form {
        box-shadow: 0 0 0 1px rgb(180, 180, 180) inset;
        padding: 10px;
        text-align: center;

        .topic {
            margin-bottom: 20px;
            font-family: "BMHANNAPro";
            font-size: 20px;
        }

        .totla_score {
            margin-top: 10px;
            margin-bottom: 30px;
            .total_score_select {
                margin-top: 10px;
                width: 100%;
                height: 15px;
            }
        }

        .detail_score,
        .content {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .detail_score {
            .row {
                margin-top: 20px;
                * {
                    padding: 0;
                }
                .col-3 {
                    text-align: left;
                }
                .right {
                    padding-left: 5px;
                }
            }

            .detail_score_select {
                width: 100%;
                height: 15px;
            }
        }

        .content {
            margin-bottom: 10px;
            .content_box {
                width: 100%;
                height: 200px;
                padding: 10px;
                background: white;
                border: 1px solid rgba(0, 0, 0, 0.4);

                // textarea 사이즈 고정
                resize: none;
            }
        }

        .file_upload {
            margin-top: 20px;
            .upload_btn {
                .filebox {
                    text-align: left;
                }
                .filebox label {
                    margin-right: 15px;
                    display: inline-block;
                    padding: 0.5em 0.5em;
                    font-size: 15px;
                    line-height: normal;
                    vertical-align: middle;
                    border: none;
                    color: black;
                    background: rgba(228, 228, 228, 0.699);
                    border-radius: 0.25em;
                    // font-weight: bolder;
                    cursor: pointer;
                }

                .filebox label:hover {
                    color: #98d7db;
                }

                .filebox input[type="file"] {
                    /* 파일 필드 숨기기 */
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    border: 0;
                }
                .write_filenum {
                    display: inline-block;
                    height: 40px;
                }
            }

            .review_img_bundle {
                text-align: left;
                .review_img:nth-child(odd) {
                    margin-right: 10px;
                }
                .review_img {
                    cursor: pointer;
                    display: inline-block;
                    width: calc(50% - 5px);

                    .thumbnail {
                        position: relative;
                        padding-top: 100%;
                        overflow: hidden;

                        .centered {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;

                            .store_img {
                                position: absolute;
                                top: 0px;
                                left: 0;
                                right: 0;
                                bottom: 0;

                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .X {
                    position: absolute;
                    // margin-top: 7px;
                    // margin-left: 128px;
                    right: 10px;
                    top: 10px;
                    width: 15px;
                    filter: invert(100%);
                    display: inline-flex;
                    cursor: pointer;
                }
            }
        }

        .btn_bundle{
            font-family: "BMHANNAPro";
            font-size: 20px;
            cursor: pointer;
            .rbtn{
                display: inline-block;
                width: calc(50% - 5px);
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 3px;
                background: #98d7db5e;
            }
            .rbtn:hover{
                background: #98d7db;
                color: white;
            }
            .rbtn:nth-child(odd) {
                margin-right: 10px;
            }
        }
    }


}

@media screen and (min-width: 980px) {
    .Write {
        .write_form {
            .file_upload {
                .review_img_bundle {
                    .review_img {
                        width: 150px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
