.Loadings{
    
    margin-top: 50px;
    margin-bottom: 100px;

    .loader {
        font-size: 20px;
        height: 20px;
        width: 250px;
        display: block;
        margin-left: calc(50% - 125px);
    }

    // 98d7db
    // f9bbc7
    .loader--dot {
        animation-name: loader;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: black;
        position: absolute;
        border: 2px solid white;
    }
    .loader--dot:first-child {
        background-color: #C7CEEA;
        animation-delay: 0.5s;
    }
    .loader--dot:nth-child(2) {
        background-color: #B5EAD7;
        animation-delay: 0.4s;
    }
    .loader--dot:nth-child(3) {
        background-color: #E2F0CB;
        animation-delay: 0.3s;
    }
    .loader--dot:nth-child(4) {
        background-color: #FFDAC1;
        animation-delay: 0.2s;
    }
    .loader--dot:nth-child(5) {
        background-color: #FFB7B2;
        animation-delay: 0.1s;
    }
    .loader--dot:nth-child(6) {
        background-color: #FF9AA2;
        animation-delay: 0s;
    }
    .loader--text {
        margin-left: 90px;
        width: 7rem;
        padding-top: 40px;
        text-align: center;
    }
    .loader--text:after {
        content: "Loading";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    @keyframes loader {
        15% {
            transform: translateX(0);
        }
        45% {
            transform: translateX(230px);
        }
        65% {
            transform: translateX(230px);
        }
        95% {
            transform: translateX(0);
        }
    }
    @keyframes loading-text {
        0% {
            content: "Loading";
        }
        25% {
            content: "Loading.";
        }
        50% {
            content: "Loading..";
        }
        75% {
            content: "Loading...";
        }
    }
}