.ImageList {
    width: 100%;
    // border-radius: 3px;
    font-family: "NanumSquareRound";

    // 2:1 : padding-top: 50%
    // 1:2 : padding-top: 200%
    // 1:1 : padding-top: 100%
    // 4:3 : padding-top: 75%
    // 16:9 : padding-top: 56.25%
    .thumbnail {
        // inner border
        border: 1px solid rgb(199, 199, 199);
        position: relative;
        padding-top: 75%;
        overflow: hidden;
        display: block;
        cursor: pointer;

        .centered {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            // 가운데 맞춤
            -webkit-transform: translate(50%, 50%);
            -ms-transform: translate(50%, 50%);
            transform: translate(50%, 50%);

            .img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;

                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            .img:hover {
                width: 120%;
                height: 120%;

                // 스무스하게 커지는 효과
                transition: 0.7s;
                transition-timing-function: ease-in-out;
                transform: scale(1.5);

                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }

    .index {
        position: absolute;
        cursor: pointer;
        top: 38%;
        img {
            width: 30px;
        }
    }

    .prev_index {
        left: 10px;
    }

    .next_index {
        right: 10px;
    }

    .preview {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .preview_img {
            cursor: pointer;
            padding: 2px;
            width: calc(10vw - 3px);
            height: 10vw;
            object-fit: fill;
        }
    }

    @media screen and (min-width: 768px) {
        .index {
            top: 16vw;
        }
        .preview {
            .preview_img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

// 이미지 비율 출처: https://webdir.tistory.com/487 [WEBDIR]
