// survey css
.SurveyComponent {
  min-height: 100vh;
  color: black;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  * {
    font-family: "BMHANNAPro";
  }

  @media screen and (min-width: 768px) {
    margin-left: 30%;
    margin-right: 30%;
  }

  .top {
    margin-bottom: 0.5rem;
    color: black;
    font-size: 2.2rem;
    text-align: center;
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom {
    color: black;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 100%;

    .backBtn {
      background: none;
      border: none;
      padding-right: 10px;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .sbox {
    min-height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .question {
      padding: 1rem 0 1rem 0;
      font-size: 2rem;
      width: 95%;

      word-wrap: break-word;
      white-space: pre-line;

      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
        margin: 5px 0 5px 0;
      }
    }

    .answer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      word-wrap: break-word;
      white-space: pre-line;
      width: 100%;
    }
  }

  .back {
    color: black;
    background: none;
    border: none;
    // cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;

    &:hover {
      background: #ffffff;
      box-shadow: 1px 1px 1px 1px #98d7db inset;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .btn {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .option {
    background: #98d7db;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
    margin: 3px;
    width: 95%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 2px solid #98d7db;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      &:hover {
        background: #ffffff;
        color: #98d7db;
      }
    }

    .optionLink {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      color: black;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
  }
}

// survey 결과화면 css
.SurveyResultComponent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  * {
    font-family: "BMHANNAPro";
  }

  @media screen and (min-width: 768px) {
    margin-left: 30%;
    margin-right: 30%;
  }

  .top {
    color: #4cbfc7;
    font-size: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .explain {
    font-size: 1.2rem;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    background-color: #b5ecf02f;
    width: 90%;

    @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 1.7rem;
      padding: 10px 10px 10px 20px;
    }

    .exBox {
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }

  .memberBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 90%;

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    .pageBtn {
      margin: 3px;
      cursor: pointer;
      color: black;
      background: #f9bbc7;
      border: none;
      border-radius: 4px;
      transition: 0.3s;
      width: 50%;
      text-decoration: none;
      height: 3rem;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;

      &:hover {
        border: 2px solid #f9bbc7;
        background: white;
      }

      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        height: 3.3rem;
      }
    }

    .memberBtn {
      padding: 1rem;
      margin: 3px;
      cursor: pointer;
      color: black;
      background: #98d7db;
      border: none;
      border-radius: 4px;
      transition: 0.3s;
      width: 50%;
      text-decoration: none;
      height: 3rem;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;

      &:hover {
        border: 2px solid #98d7db;
        background: white;
      }

      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        height: 3.3rem;
      }
    }
  }

  .retryBtn {
    padding: 2px 10px 2px 10px;
    margin: 8px 0 8px 0;
    cursor: pointer;
    color: grey;
    border: 1.5px solid grey;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

    &:hover {
      background-color: #eaeaea;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.7rem;
      border: 2px solid grey;
      padding: 2px 12px 2px 12px;
    }
  }

  .mentionTop {
    font-size: 1.5rem;
    padding-top: 5px;
    margin: 10px 0 5px 0;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .mentionBottom {
    font-size: 1.5rem;
    margin-top: 5px;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .zulzul {
    // border: 1px solid black;
    padding: 5px 0;
    border-radius: 0 0 4px 4px;
    text-align: center;
    width: 90%;
    color: #353535;
    background-color: rgba(0, 0, 0, 0.048);
  }

  .select {
    font-size: 1.5rem;
    background-color: #b5ecf067;
    width: 90%;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 2.2rem;
    }
  }

  .typeTitle {
    color: #353535;
    font-size: 1.5rem;
    width: 90%;
    margin: 15px 0 5px 0;
    // font-weight: bold;

    @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 1.8rem;
      margin: 25px 0 5px 0;
    }
  }

  .typeBox {
    width: 90%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    .Loadings {
      width: 100%;
      height: 48px;
    }

    .col-6 {
      padding: 1px;
    }

    .type {
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      // margin-bottom: 10px;
      // margin: 0px 3px 10px 3px;
      transition: 0.3s;

      &:hover {
        border-radius: 5px;
        border: 3px solid #f9bbc7;
      }

      .storeName {
        // 길어지면 ...으로 생략하기
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        padding: 0 4px 2px 4px;

        @media screen and (min-width: 768px) {
          font-size: 1.6rem;
          padding: 0 4px 4px 4px;
        }
      }

      .typeImgBox {
        position: relative;
        width: 100%;
        // overflow: hidden;
        padding-top: 100%;

        .typeImg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 5px;
        }
      }
    }
  }
}
